{% macro ul_flash(error) %}
    {% with messages = get_flashed_messages() %}
        {% if messages or error %}
        <div id="messages" class="text-danger">
            <ul class="flashes">
                {% if error != None %}
                <li>{{ error }}</li>
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}
{% endmacro %}


{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label }}
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
        <ul class='text-danger'>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endmacro %}